{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <title>Kalehiwet Church | {% block title %}{% endblock %}</title>
</head>
<body>
    <header class="container pb-3 border-bottom">
        <a class="logo-link" href="{% url 'home' %}">
            <h1>
                <img src="https://res.cloudinary.com/dmdrwfzlx/image/upload/v1690714730/KHCE/Kalehiwet_Church-logos_gbnjom.jpg" alt="Kalehiwet church logo">
                Kalehiwet Church of Eritrea
             </h1>
        </a>    
        {% with request.resolver_match.url_name as url_name %}
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link {% if url_name == 'home' %}active"
                aria-current="page{% endif %}">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">About Us</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Ministries & Programs</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Community</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Donate</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Contact Us</a>
            </li>
        </ul>
        {% endwith %}
    </header>
    {% block content %}

    {% endblock %}

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/"></a>
            <span>&copy <span id="current-year"></span> Kalehiwet Church of Eritrea </span>
        </div>
        <div class="col-md-4 justify-content-end">
            Contact us on (PLACEHOLDER) 
        </div>
    </footer>
</div>

<script src="https://kit.fontawesome.com/86de956f5a.js" crossorigin="anonymous"></script>
</body>
</html>