{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<section class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
    <h1>Connect with the Community
    </h1>
    <p>
        If you have not already, sign up for opportunities to connect with members of the community. 
    </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
        {% if user.is_authenticated %}
        <h2>Welcome {{ user }}!</h2>
        <div>Not you?
            <a href="{% url 'account_logout' %}" class="">Logout</a>
        </div>
        <br>
        <div>
            <a href="#" class="btn btn-primary">Interact with the Community</a>
        </div>
        {% else %}
        <div>
            Login to connect!
            <a href="{% url 'account_login' %}" class="btn btn-primary">Login</a>
        </div>
        <br>
        <div>
            No account?
            <a href="{% url 'account_signup' %}" class="btn btn-primary">Sign Up</a>
        </div>
        {% endif %}
    </div>
    </div>
</section>
{% endblock %}