{% extends 'base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<section class="hero-box container col-xl-10 col-xxl-8 text-light mt-3 px-5 py-5">
    <div class="row align-items-center py-5">
    <div class="col-lg-7 text-center text-dark text-lg-start">
    <h1>Connect with the Community
    </h1>
    <p class="text-bg-light opacity-75 p-2">
        Sign up for opportunities to connect with members of the community. 
    </p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5 p-5 text-dark">
        {% if user.is_authenticated %}
        <h2>Welcome {{ user }}!</h2>
        <div>
            <a href="{% url 'account_logout' %}" class="btn btn-dark">Logout</a>
        </div>
        <br>
        <div>
            <a href="#" class="btn btn-dark">Interact with the Community</a>
        </div>
        {% else %}
        <div>
            Connect now!
            <a href="{% url 'account_login' %}" class="btn btn-dark opacity-100">Login</a>
        </div>
        <br>
        <div>
            No account?
            <a href="{% url 'account_signup' %}" class="btn btn-dark">Sign Up</a>
        </div>
        {% endif %}
    </div>
    </div>
</section>
<section class="container px-4 py-5">
    <h2 class="pb-2 text-center border-bottom">Website Features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-primary bg-gradient fs-1 mb-2">
                <i class="fa-solid fa-people-group"></i>
            </div>
            <h3>About Us</h3>
            <p>
               Learn more about our organization. Our vision, mission and the dedicated team behind it all. You can also learn all
               about our history and our founding members.
            </p>
            <a href="#">Learn more</a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-primary bg-gradient fs-1 mb-2">
                <i class="fa-solid fa-church"></i>
            </div>
            <h3>Ministries & Programs</h3>
            <p>
               We detail the various ministries and initiaives that we are involved in. You can also learn about our discipleship
               programs and resources. 
            </p>
            <a href="#">Learn more</a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-primary bg-gradient fs-1 mb-2">
                <i class="fa-solid fa-hand-holding-dollar"></i>
            </div>
            <h3>Donate</h3>
            <p>
               Do you wish to contribute to our cause? Click the link below to find out how. 
            </p>
            <a href="#">Donate</a>
        </div>
    </div>
</section>
{% endblock %}